html {
    height: 100%;
}
body {
    font-family: 'Finlandica';
    height: 100%;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 23px;
    line-height: 1.42857;
}

.form-temas div {
    padding: 0px 20px 0px 20px;
}

.form-temas .card-header {
    font-size: 23px;
}

.mr-1 {
    margin-right: 10px;
}

.table th {
    text-align: center;
}

.nav-link {
    align-self: center;
}

.embed-responsive-item-sobrevos {
    height: 100%;
}


/* Estilos adicionales */
.card-title {
    color: black;
    font-size: 30px;
}

.btn-custom {
    background-color: black;
    /* Color de fondo del botón */
    color: white;
    /* Color del texto del botón */
    border: none;
    /* Quitamos el borde */
    width: 30%;
    height: 40%;
    margin-top: 3%;
    font-size: 20px;
}

.card {
    height: 100%;
    /* Altura fija para todas las tarjetas */
    position: relative;
    /* Posición relativa para contener el botón */
}

.card-content {
    padding: 10px;
    /* Espacio interno para el contenido */
    height: calc(100% - 40px);
    /* Altura del contenido ajustada */
    overflow: auto;
    /* Scroll si el contenido es muy largo */
}

.card {
    text-align: center;
    border: none
}

.embed-responsive-16by9 {
    /* Espacio entre las miniaturas */
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .embed-responsive {
        min-height: 20vh;
        min-width: 60vh;
        width: 100%;
    }

    .embed-responsive-item {
        min-height: 40vh;
        min-width: 60vh;
    }
}


.card-title {
    margin-top: 10px;
    /* Espacio entre el título y la miniatura */
}

.tamano-escritorio {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.titulo{
    margin: 2%;
    background-image: url("../img/trumpet2.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    color: white;
}

@media (max-width: 1047px) {

    .imagen-separadora{
        background-image: url("../inicio.png"); 
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        width: 375px;
        margin-top: 20px;
    }

    .en-este-canal{
        color: white;
        height: 300px;
        width: 375px;
        position: relative;
        margin-bottom: 2%;
        margin-left: 8%;
    }

    .texto-principal{
        position: absolute;
        text-align: justify;
        text-justify: inter-word;
        top: 50%;
        /* Ajusta esta posición verticalmente */
        transform: translateY(-50%);
        /* Centra verticalmente */
        padding: 20px;
        /* Espacio alrededor del texto */
    }

    .titulo {
        margin-top: 8px;
    }
}



@media (max-width: 1733px) {
    .paragraph {
        font-size: large;
        text-align: justify;
    }
}

@media (min-width:1734px) and  (max-width: 1920px) {
    .paragraph {
        font-size: x-large;
        text-align: justify;
    }
}

.background-part {
    position: relative;
}

.background-part::before {
    content: "";
    background-image: url("../img/trompeta-partitura.jpg");
    background-size: cover;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.background-part .card-title {
    position: relative;
}

.background-part .btn {
    position: relative;
}

.card-parent .card-size{
    min-height: 30vh;
}

.titulo-servicios {
    font-size: 300%;
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.hero {
    position: relative;
    width: 99.1vw;
    height: 99.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/osvaltrom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 }

 @media (max-width: 575px) {

    .hero::before {
        background: url(../img/osvaltrom-mobile.png);
    }
}

 .hero-content {
    position: relative;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
 }
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
 }

 .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}